body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    max-height: 50px;
}

.seamless-menu {
    display: flex;
}

.seamless-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.seamless-menu li {
    margin-right: 20px;
}

.seamless-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    padding: 20px;
}
/* ... (código anterior) ... */

/* ... (código anterior) ... */

.featured-section {
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.featured-content h2 {
    margin-bottom: 10px;
}

.featured-content p {
    margin-bottom: 20px;
}

.featured-content button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* ... (código posterior) ... */
